{
    "root": true,
    "extends": [
        "airbnb",
        "prettier",
        "prettier/react",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "plugins": [
        "@typescript-eslint",
        "prettier"
    ],
    "parser": "@typescript-eslint/parser",
    "rules": {
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx",".ts",".tsx"
                ]
            }
        ],
        "linebreak-style": [
            0,
            {}
        ]
    }
}